{% extends 'main.html' %}

{% block content %}

<style>
    .home-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

/* Стиль для сховання візуального оформлення посилань */
.hide-link-style {
    text-decoration: none; /* Видалення підкреслення */
    color: inherit; /* Використання коліру тексту батьківського елементу */
}

/* Стиль для розташування тексту справа */
.room-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
</style>

{% if request.user.is_authenticated %}
<a class="hide-link-style" href="{% url 'create-room' %}">Create Room</a>
{% else %}
<a class="hide-link-style" href="{% url 'login' %}">Create Room</a>
{% endif %}

<div class="home-container">
    <div class="rooms-section">
        <!-- Room details -->
        {% for room in rooms %}
            <div class="room-frame">
                <div class="room-info">
                    <a href="{% url 'room' pk=room.id %}">
                        {{room.name}}
                    </a>
                    <span><a class="hide-link-style" href="{% url 'profile' room.host.id %}">
                        @{{room.host.username}}
                    </a> - {{room.created | timesince}} ago</span>
                </div>
                <h5>{{ room.description }}</h5>
                <hr>
                <small>{{room.topic.name}}</small>
            </div>
        {% endfor %}
    </div>

    <div class="sidebar">
        <!-- Recent activity section -->
        {% include 'base/activity_component.html' %}

        <!-- Contact information -->
    </div>
</div>

<div class="contact-info">
    <h3>Contact Information</h3>
    <p>Phone: 3(80) 97 9414749</p>
    <p>Email: vladpolyak12092002@gmail.com</p>
    <p>LinkedIn: </p>
</div>

{% endblock content %}
