{% extends 'main.html' %}

{% block content %}

<style>
    .home-container{
        display: grid;
        grid-template-columns: 3fr 1fr;
    }
</style>

<a href="{% url 'create-room' %}">Create Room</a>





<div class="home-container">
  
    <div>
        <div>
            {% for room in rooms %}
                <div>
                    <a href="{% url 'update-room' room.id %}">Edit</a>
                    <a href="{% url 'delete-room' room.id %}">Delete</a>
                    <a href="{% url 'profile' room.host.id %}">@{{room.host.username}}</a>
                    <h5>{{ room.id }} -- <a href="{% url 'room' pk=room.id %}">{{ room.name }}</a></h5>
                    <small>{{room.topic.name}}</small>
                </div>
            {% endfor %}
        </div>
    </div>


    <div>
       {% include 'base/activity_component.html' %}
    </div>


    <div>
        <h3>To contact with me</h3>
        <p>phone: 3(80) 97 9414749</p>
        <p>Email: vladpolyak12092002@gmail.com</p>
        <p>Linkedin: </p>
    </div>
</div>
{% endblock content %}
