{% extends 'main.html' %}

{% block content %}

{% if page == 'login' %}

<div>
    <form method="POST" action="">
        {% csrf_token %}

        <label>Email:</label>
        <input type="email" name="email" placeholder="Enter email" />

        <label>Password:</label>
        <input type="password" name="password" placeholder="Enter password" />

        <input type="submit" value="Login">
    </form>
</div>

<p>Havent signed up yet?</p>
<a href="{% url 'register' %}">Register</a>


{% else %}

<div>
    <form method="POST" action="">
        {% csrf_token %}
		{{form.as_p}}
        <input type="submit" value="Register">
	</form>
    <p>Already signed up yet?</p>
    <a href="{% url 'login' %}">Login</a>
</div>
{% endif %}

{% endblock content %}
