{% extends 'main.html' %}

{% block content %} 

{% load crispy_forms_tags %}         

<!--Register--> 
<div class="container py-5">
	<form method="POST" action="">
		{%  csrf_token %}

		<label>Username:</label>
		<input type="text" value="Email" placeholder="Enter Email" />

		<label>password:</label>
		<input type="text" value="Email" placeholder="Enter password" />

		<input type="submit" value="Login">
	</form>

	<p>Havent signed up yet?</p>
	<a href="register.html"></a>
</div>

{% endblock %}